@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Kategoriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Kategori İşlemleri</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var kategori in Model)
    {
        <tr>
            <td>@kategori.Id</td>
            <td>@kategori.Ad</td>
            <td><a href="/Kategori/KategoriSil/@kategori.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@kategori.Id" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, ktgsayfa => Url.Action("Index", new { ktgsayfa }))
<br />
<a href="/Kategori/KategoriEkle" class="btn btn-primary">
    <i class="bi bi-plus-circle"></i> Yeni Kategori Ekle
</a>
